@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&family=Poppins:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    font-family:'Open Sans';
    font-weight:400;
    overflow-x:hidden;
}
:root {
    --purple: #875F9A;
    --spcpurple: #562d69;
}
.nav{
    width:100%;

}
.lists{
    display:flex;
}
.navitem{
    padding:20px;
    width:9%;
    text-align:center;
}
.navitem a{
    color:black;
    text-decoration: none;
}
.currentnav{
    border-bottom:2px solid var(--purple);
}
.navitem:hover{
    background:rgb(228, 228, 228);
    text-decoration: underline;
}
.dropdown {
    position: relative;
  display: inline-block;
}
.dropdown-btn{
    background:none;
    border:none;
    font-family:'Open Sans';
    font-size:18px;
    padding:0;
}
.dropdown-btn:hover{
    text-decoration: underline;
}
.dropdown-content {
    display: none;
  position: absolute;
  background:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:60px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
    text-decoration: underline;
    background:rgb(228, 228, 228);
  }
  .show {display:block;}
  .banner{
    background:url(https://images.unsplash.com/photo-1524281423221-234569bc0438?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    
    position:relative;
    padding:75px;
  }
  .banner{
    color:white;
    position:relative;
    top:-40px;
  }
  .standard-purple-btn{
    padding:14px;
    border:none;
    background:var(--spcpurple);
    color:white;
    font-size:14px;
    font-family:'Open Sans';
    width:145px;
  }
  .standard-purple-btn:hover{
    background:#6d3985;
    text-decoration: underline;
  }
  .standardimage{
    width:50%;
    float:left;
    border-radius:7.5px;
  }
  .centered1{
    padding:30px;
    

  }
  .texter{
    position:relative;
    right:-35px;
    width:95%
  }
  .serviceexchange{
    padding:60px;
    
  }
  .exchange{
    text-align:center;
  }
  .exchange a{
    color:var(--spcpurple);
    text-decoration: none;
  }
  .serviceexchange h2{
    font-weight:lighter;
    color:var(--spcpurple);
    
  }
  .briefdesc{
    padding:60px;
    width:90%;
  }
  .descs{
    width:45%;
    float:left;
  }
  .descs h2{
    font-weight:lighter;
    color:var(--spcpurple);
  }
  .lists{
    position:relative;
    top:-40px;
  }
  .rightimage{
    border-radius:7.5px;
    width:55%;
    position:relative;
    left:40px;
    top:30px;
  }
  .getintouch{
    background:rgb(255, 255, 255);
    color:black;
    padding:40px;
  }
  .getintouch h2{
    font-weight:lighter;
  }
  .serviceexchange{
    background:rgb(243, 243, 243);
  }
  .footer{
    background:rgb(27, 27, 27);
    color:rgb(141, 141, 141);
    padding:30px;
    width:100%;
    overflow: auto;
    overflow-x: hidden;
  }
  .footer h2, h1, h3{
    font-weight:lighter;
  }
  .sect{
    float:left;
    width:15%;
    position:relative;
    overflow: auto;
  }
  .sect a{
    color:rgb(141, 141, 141);
    text-decoration: none;
  }
  .sect li{
    text-decoration: none;
    list-style-type: none;
    padding:10px;
  }
  .bottom{
    background:rgb(27, 27, 27);
    color:white;
    padding:30px;
  }
  .sections{
    position:relative;
    left:40px;
    color:rgb(141, 141, 141);
  }
  .bottom{
    color:rgb(141, 141, 141);
    width:100%;
  }
  .sect  a:hover{
    text-decoration: underline;
  }
  .imgside{
    width:50%;
    float:left;
  }
  .specf{
    width:42%;
    float:left;
    padding:66px;
  }
  .contactcard{
    position:relative;
    top:-39px;
  }
  .specf input, .specf button, .specf select, .specf textarea{
    font-family:'Open Sans';
    font-weight:lighter;
  }
  .pin{
    width:6%;
    float:left;
  }
  .address p{
    position:relative;
    left:20px;
  }
  .missionstatement{
    float:left;
    width:50%;

  }
  .briefintro{
    float:left;
    width:50%;
  }
  .intro{
    padding:70px;
  }
  .memberrow img{
    width:300px;
  }
  .memberrow{
    display:flex;
    width:100%;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: hidden;
  }
  .memberrow p{
    text-align:center;
    color:rgb(95, 95, 95);
  }